@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

svg {
  font-size: 11px;
  font-family: 'Noto Sans Japanese', 'Klee', 'Meiryo';
  font-weight: 300;
}

.background {
  fill: none;
  pointer-events: all;
}

.circle {
  fill: silver;
  r: 2;
}

.layer1 {
  cursor: pointer;
}

.layer1.active {
  display:none;
}

.layer1-boundary {
  fill: none;
  stroke: white;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
  stroke-width: 1;
}

.label {
  fill: white;
  fill-opacity: 1;
  font-size: 16px;
  font-family: 'Noto Sans Japanese', 'Klee', 'Meiryo';
  font-weight: 700;
  text-anchor: middle;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  cursor: pointer;
}

.layer2 {
  cursor: pointer;
  fill: orange;
  stroke: white;
  stroke-width: 0.2;
}

.layer1:hover, .layer2:hover {
  fill: red;
}
